@import "./styles/variables.css";
@import "./styles/base.css";
@import "./styles/filtros.css";
@import "./styles/tabla.css";
@import "./styles/botones.css";
@import "./styles/form-pqr.css";
@import "./styles/responsive.css";
